{% extends 'base.html' %}
{% block css %}

{% endblock %}
{% block content %}
<!-- Page Sidebar Ends-->
<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Uy Tanla dashboard</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">


                        <ul>
                            <li><a href="chat.html" data-container="body" data-bs-toggle="popover"
                                   data-placement="top" title="" data-original-title="Chat"><i
                                    data-feather="message-square"></i></a></li>
                            <li><a href="product-page.html" data-container="body" data-bs-toggle="popover"
                                   data-placement="top" title="" data-original-title="Icons"><i
                                    data-feather="shopping-bag"> </i></a></li>
                            <li><a href="user-profile.html" data-container="body" data-bs-toggle="popover"
                                   data-placement="top" title="" data-original-title="Learning"><i
                                    data-feather="users"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="bookmark-search"
                                                                data-feather="heart"></i></a>


                                <form class="form-inline search-form">
                                    <div class="form-group form-control-search">
                                        <input type="text" placeholder="Search..">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>


                    <!-- Bookmark Ends-->


                </div>
            </div>
        </div>
    </div>

    {# my code start #}

        <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header pb-0">
                    <h5>Create category</h5>
                  </div>
                  <form class="form theme-form" method="post" >
                      {% csrf_token %}
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label class="form-label" for="exampleFormControlInput1">Category name update</label>
                            <input name="category" value="{{ category.name }}" class="form-control" id="exampleFormControlInput1" type="text" placeholder="write..." required>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer pt-0 text-end">
                      <button class="btn btn-primary" type="submit">Submit</button>
                      <input class="btn btn-light" type="reset" value="Cancel">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {# my code end #}


        {% endblock %}
        {% block js %}

        {% endblock %}